/*Only use this file if you want to override bootstrap or create your own style*/
body {
    background-image: url("elDoradoBG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.slapGameHeader{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    text-decoration-style: double;
    background: goldenrod;
    color: white;
    font-weight: bolder;
}


#health {
  font-family: 'Exo 2', sans-serif;
  color:red;
  font-size: 50px;
  font-weight: bold;
  padding: 50px
}

#actions {
    font-family: 'Exo 2', sans-serif;
    color: red;
    margin: 25px;
    font-weight: bold;
    font-size: 25px;
}

#resetTxt {
    color: goldenrod;
    margin: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#mods {
    color: blue;
    margin: 25px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
















